body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2C3E50;
    color: white;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

/* Search Box */
#searchBox {
    margin-top: 10px;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
}

/* Doctors Section */
.doctors-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.doctor-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.doctor-card:hover {
    transform: scale(1.05);
}

.doctor-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.doctor-card h2 {
    margin: 10px 0;
    color: #34495E;
}

.doctor-card p {
    margin: 5px 0;
    color: #555;
}